Pillow~=8.3.1
ipython~=7.26.0
pip~=21.1.2
wheel~=0.36.2
parso~=0.8.2
jedi~=0.18.0
colorama~=0.4.4
numpy~=1.21.2
pandas~=1.3.2
Pint~=0.17
packaging~=21.0
matplotlib~=3.4.3
pytz~=2021.1
numba~=0.53.1
llvmlite~=0.36.0
Pygments~=2.10.0
scipy~=1.7.1
setuptools~=57.0.0
fluids~=1.0.9
openpyxl~=3.0.7
python-dateutil~=2.8.2
xlrd~=1.2.0
pyglet~=1.5.18
chemicals~=1.0.11
thermo~=0.2.9
chaospy~=4.3.3
numpoly~=1.2.3
traitlets~=5.0.5
decorator~=5.0.9
backcall~=0.2.0
pickleshare~=0.7.5
wcwidth~=0.2.5
biosteam~=2.31.2
thermosteam~=0.27.3
colorpalette~=0.3.1
flexsolve~=0.5.3
graphviz~=0.17
six~=1.16.0
pyparsing~=2.4.7
cycler~=0.10.0
kiwisolver~=1.3.1
biorefineries